
:root {
    --font-family: "Open Sans", sans-serif;
    --second-family: "Montserrat", sans-serif;
    --third-family: "Satoshi", sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ebe8f4;
    /*width: 1440px;*/
    height: 80px;
    /*background: rgba(255, 170, 170, 0.4);*/
}

.h1 {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    color: #22202e;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-item {
    padding-right: 44px;
}

.menu-item-link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #726e8d;
}

.nav-tools {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.tool {
    background-repeat: no-repeat;
    padding-left: 16px;
    cursor: pointer;
}

.tool-1 {
    background-image: url("/images/search.svg");
    width: 16px;
    height: 16px;
}

.tool-2 {
    background-image: url("/images/shopping--cart.svg");
    width: 16px;
    height: 16px;
}

.tool-3 {
    background-image: url("/images/user--avatar.svg");
    width: 16px;
    height: 16px;
}

.header-middle {
    display: block;
    text-align: center;
}

.h2 {
    width: 100%;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 36px;
    line-height: 140%;
    color: #2a254b;
    margin-top: 80px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    padding: 8px 24px;
}

.sorting {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.span-1 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #2a254b;
}

.custom-select {
    padding: 12px 24px;
    /*width: 139px;*/
    /*height: 48px;*/
    border: none;
    text-align: center;
    appearance: none;
    background: url("/images/vector.svg") no-repeat right;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2a254b;
    cursor: pointer;
}

.main-content {
    display: grid;
    /*grid-template-columns: 305px;*/
    grid-template-columns: repeat(4, 1fr);
    /*grid-template-rows: 462px;*/
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 48px;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 305px;
    height: 462px;
}

.img {
    width: 305px;
    height: 375px;
}

.card-link {
    height: 462px;
}

.product-name {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #2a254b;
    margin-bottom: 0;
    margin-top: 24px;
}

.price {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2a254b;
    margin-top: 8px;
    margin-bottom: 0;
}

.button-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 40px;
}

.mid-button {
    padding: 16px 32px;
    width: 175px;
    height: 56px;
    background: #f9f9f9;
    border: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2a254b;
}

.join-info {
    background-image: url("/images/join-background.jpg");
    background-size: 50%;
    height: 521px;
    background-repeat: no-repeat;
    display: block;
    flex-direction: column;
    text-align: left;
}


.join {
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: 50%;
    margin-left: 769px;
    padding-top: 71px;
}
.h3 {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 32px;
    color: #2a254b;
    margin-top: 0;
    margin-bottom: 21px;
}

.sign-up {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2a254b;
    margin-top: 0;
    margin-bottom: 0;
}

.form {
    margin-top: 216px;
    padding-left: 23px;
}

.input {
    width: 352px;
    height: 56px;
    background: #f9f9f9;
    padding: 0;
    border: none;
}

.button-2 {
    width: 120px;
    height: 56px;
    background: #2a254b;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    border: none;
}

.footer {
    height: 380px;
    background: #2a254b;
}

.footer-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 60px;
}

.footer-block {
    display: flex;
    flex-direction: column;
}

.list-name {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    margin: 0;
}

.footer-list {
    padding: 0;
    margin: 0;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-evenly;*/
}

.list-item {
    padding: 12px 0;
}

.footer-link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}

.logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-link {
    background-repeat: no-repeat;
    padding-left: 24px;
    cursor: pointer;
}

.logo-link-1 {
    background-image: url("/images/logo--linkedin.svg");
    width: 24px;
    height: 24px;
}

.logo-link-2 {
    background-image: url("/images/logo--facebook.svg");
    width: 24px;
    height: 24px;
}

.logo-link-3 {
    background-image: url("/images/logo--instagram.svg");
    width: 24px;
    height: 24px;
}

.logo-link-4 {
    background-image: url("/images/logo--skype.svg");
    width: 24px;
    height: 24px;
}

.logo-link-5 {
    background-image: url("/images/logo--twitter.svg");
    width: 24px;
    height: 24px;
}

.logo-link-6 {
    background-image: url("/images/logo--pinterest.svg");
    width: 24px;
    height: 24px;
}